* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  /* position: absolute;
  left: 50%;
  transform: translateX(-50%); */
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


}

.body::-webkit-scrollbar {
    width: 5px;
}


#profile-img {
    margin-top:40px;
    width: 200px;
    height: 200px;
    border-radius: 25%;
    background: url("./download (1).jpeg") no-repeat;
    background-size: 235px 235px;
    background-position-x: -35px;
    /* border: 3px solid #585858; */
}

.banner {
  color: yellow;
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
 
  left: 50%;
  transform: translateX(-50%);
}

input[type='text'] {
  border: 2px solid rgb(190, 185, 185);
  border-radius: 5px;
  padding: 10px;
  width: 50vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

input[type='text']:focus {
  border: 2px solid blue;
}

button {
  padding: 5px;
  margin-top: 10px;
  color: white;
  background-color: rgb(56, 52, 52);
  border-radius: 5px;
  width: 15vh;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#city-name {
  border: 1px solid rgb(190, 185, 185);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  width: 50vw;
  text-align: center;
  padding: 10px;
}

#weather-type {
  text-align: center;
}

.list {
  list-style: none;
}

li {
  text-align: center;
  padding: 4px;
}

#card-body {
  border: 1px solid rgb(190, 185, 185);
  width: 50vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  margin-top: 5vh;
}
